.quiz.main-conteiner {
  padding: 2rem;
  background-color: antiquewhite;
  height: 100%;
  font-size: 2rem;
}

.quiz.btn {
  margin-top: 1rem;
  font-size: 2rem;
}

.hide {
  display: none;
}
/* ここからNEWタイプ */
.new.main-container {
  text-align: center;
}
.new-list {
  list-style: none;
}
.new.btn {
  width: 400px;
  background-color: rgb(138, 131, 131);
  color: white;
  font-size: 1.5rem;
  margin-top: 1rem;
  border-radius: 5px;
  border: none;
}

.new.btn:hover {
  color: pink;
  background-color: black;
}

.rezult-text {
  font-size: 1.5rem;
}
